@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

:root {
  --selected-background-color: #2C3E50;
  /* --unselected-background-color: #D3D6DB; */
  --unselected-background-color: #F4F5F4;
  --active-font-color: #1A3A5A;
  --inactive-font-color: #666666;
  --main-layout: flex;
  --main-layout-direction:column;
  --page-background-color: #F5F7FA;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.homePage {
  display: var(--main-layout);
  flex-direction: var(--main-layout-direction);
  height: 100vh;
  background-color: var(--page-background-color);
}


.header {
  --header-title-color: #1A3A5A;
  --header-description-color: #4A688A;
  
  --header-title-font-family:Playfair Display, serif;
  --header-description-font-family:Merriweather, serif;
  /* background-color: var(--header-background-color);
   */
  background-color: #2C3E50;
  display: var(--main-layout);
  flex-direction: row;
  gap: 5rem;
  align-items: center;
  height: 12rem;
  max-width: 100%;
  padding-left: 5rem;
}

.header .headerTitle {
  /* color: var(--header-title-color); */
  /* color: #2C3E50; */
  color: #ffffff;
  font-family: var(--header-title-font-family);
  font-style: regular;
  font-size: 2.5rem;
  text-decoration: underline;
  text-decoration-color: #919191;
}

.header .headerDescription {
  color: #919191;
  color: #e2e2e2;
  font-family: var(--header-description-font-family);
  font-style: regular;
  font-size: 1.75rem;
}

.contentArea {
  display: var(--main-layout);
  flex-direction: var(--main-layout-direction);
  height: 100%;
  max-width: 100%;
  margin: 7rem 15rem 0 15rem;
}

.contextSelector {
  display: var(--main-layout);
  flex-direction: row;
  gap: 2rem;
  align-items: center;
}


.contextSelectorItem {
  background-color: var(--unselected-background-color);
  padding: 0.75rem 1.5rem;
  border-radius: 1rem;
  font-family: var(--header-description-font-family);
  font-style: regular;
  font-size: 1.5rem;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;
}

.contextSelectorItem.selected {
  background-color: var(--selected-background-color);
  color: #ffffff;
  transition: background-color 0.3s ease;
}

.contextSelectorItem.selected:hover {
  box-shadow: 0 10px 10px 0 rgba(0,0,0,0.3);
}

.contextSelectorItem:hover {
  box-shadow: 0 10px 10px -5px var(--selected-background-color);
}


.languageSelector {
  display: var(--main-layout);
  flex-direction: row;
  align-items: flex-start;
  margin-top: 2rem;
  background-color: #F0F2F5;
}

.languageBox {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem 1rem 1rem 3rem;
  font-family: var(--header-description-font-family);
  color: #2C3E50;
  font-size: 2rem;
  border: 1px solid #D9D9D9;
}

.translatorFormContainer {
  display: var(--main-layout);
  flex-direction: row;
  max-width: 100%;
  margin-bottom: 3rem;
  border: 1px solid #D9D9D9;
  box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.3);
}

.translatorForm {
  background-color: #F0F2F5;
  padding: 1rem 1rem 1rem 1rem ;
  max-width: 100%;
  border-right: 1px solid #D9D9D9;
  flex: 1;
}


.translatorFormTextArea {
  background-color: #F0F2F5;
  border: none;
  font-family: var(--header-description-font-family);
  font-size: 2rem;
  color: 666666;
  max-width: 100%;
  width: 100%;
  height: 10rem;
  resize: none;
}

.additionalContextContainer {
  background-color: #F0F2F5;
  border: 1px solid #D9D9D9;
  max-width: 100%;
  height: auto;
  max-height: 5rem;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  border-radius: 0rem;
  box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease;
}

.additionalContextContainer.selected {
  background-color: var(--selected-background-color);
  transition: background-color 0.3s ease;
}

.additionalContextTextArea {
  background-color: #F0F2F5;
  border: none;
  font-family: var(--header-description-font-family);
  font-size: 1.5rem;
  color: 666666;
  max-width: 100%;
  width: 100%;
  height: 2.5rem;
  border-radius: 1rem;
  padding-left: 1rem;
  resize: none;
  line-height: 2rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

textarea:focus {
  outline: none;
}